body {
  margin: 0;
  background-image: linear-gradient(#53A138,#7E5533);
  font-family: 'MinecraftiaRegular';
  /* background-image: url('https://i.pinimg.com/originals/fc/ec/1f/fcec1f167e1a454be1024b8e57928ace.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; */
}

#top-box {
  font-size: 3em;
  text-align: center;
  height: auto;
}

#top-box h1 {
  margin: 0;
  font-size: 93px;
}

#top-box img {
  width: 200px;
  height: auto;
}
nav {
  display: grid;
  width: 100%;
  grid-auto-rows: auto;
  grid-template-columns: repeat(5, 20%);
  background-color: black;
  align-items: center;
  text-align: center;
  color: white;
  position: sticky;
  top: 0;
}

nav a {
  text-decoration: none;
  font-size: 1.2em;
  color: #efefef;
}

nav img {
  height: 25px;
  width: auto;
}

#feed {
  display: grid;
  grid-template: auto / 20% 60% 20%;
  height: 100vh;
  width: auto;
  box-shadow: 0px 10px 6px -2px #53A138 inset;
}

#feed .left-side {
  display: grid;
  grid-template: 25% 25% 25% 25% / auto;
  align-items: center;
}

#feed .left-side ul {
  list-style: none;
  padding-left: 4%;
}

#feed .left-side ul a {
  text-decoration: none;
  color: black;
}

#feed .left-side ul a li:hover {
  color: #2e6e29;
}

#feed .left-side ul a li:active {
  background-color: #2e6e29;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}


#feed section {
  overflow-y: scroll;
  text-align: center;
  padding-left: 10px;
  font-size: 3em;
}
#feed section h2 {
  margin-bottom: 0;
  font-size: 1em;
  text-align: left;
}

.story-grid {
  display: grid;
  grid-template: repeat(2,50%) / 80% 20%;
  grid-template-areas: ". . " " info info";
  margin: 0;
  border-bottom: 2px solid green;
  border-radius: 6%;
}

.story-grid img {
  margin-top: 15%;
  width: 80%;
  border-radius: 20%;
  height: auto;
}

.story-grid p {
  grid-area: info;
  font-size: 30px;
  margin-top: 0;
}
.story-grid h3 {
  padding-top: 7%;
  padding-left: 20%;
  font-size: .8em;
  text-align: left;
  margin: 0;
}

.global-grid {
  display: grid;
  grid-template: repeat(2,50%) / 80% 20%;
  grid-template-areas: ". . " " info info";
  margin: 0;
  border-bottom: 2px solid green;
  border-radius: 6%;
}

.global-grid img {
  width: 100%;
  border-radius: 20%;
  height: auto;
}

.global-grid p {
  margin-top: 0;
  font-size: 30px;
  grid-area: info;
}
.global-grid h3 {
  margin: 0;
  padding-top: 7%;
  padding-left: 10%;
  text-align: left;
  font-size: 40px;
}

.busi-grid {
  display: grid;
  grid-template: repeat(4,25%) / 100%;
  margin: 0;
  border-bottom: 4px solid green;
  border-radius: 6%;
}

.busi-grid p {
  text-align: left;
  font-size: .6em;
}

#feed .left-side::after {
  content: "";
  background-color: #5A3920;
  opacity: 0.9;
  top: 25%;
  left: 0;
  bottom: -30%;
  right: 80%;
  position: absolute;
  z-index: -1;
}

#feed section::after {
    content: "";
    background-color: #7E5533;
    opacity: 0.9;
    top: 25%;
    left: 20%;
    bottom: -30%;
    right: 20%;
    position: absolute;
    z-index: -1;
}

#feed aside::after {
    content: "";
    background-color: #9D6B41;
    opacity: 0.9;
    top: 25%;
    left: 80%;
    bottom: -30%;
    right: 0px;
    position: absolute;
    z-index: -1;
}


#feed aside {
  display: grid;
  grid-template: 25% 25% 25% 25% / auto;
  align-items: center;
  padding-left: 8%;
}

#feed aside img {
  padding-top: 5%;
  width: 90%;
  height: auto;
}

#team {
  background-color: #5A3920;
  display: grid;
  grid-template: auto / repeat(3,33%);
  grid-row-gap: 10px;
  padding-top: 1.8%;
  justify-items: center;
  box-shadow: 0px 10px 6px -2px #53A138 inset;
}

#team section {
}

#team img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

article {
  background-color: #7E5533;
}
article h1 {
  margin: 0;
}
article h4 {
  margin: 0;
}
article img {
  width: 50%;
  margin-left: 18%;
  height: auto;
}

footer {
  background-color: #9D6B41;
  text-align: center;
  display: grid;
  grid-template: repeat(3, 33%) / repeat(5, 20%);
  grid-template-areas: "logo . . . media" ". list1 list2 list3 ." "copyright copyright copyright copyright copyright"
}

#footLogo {
  grid-area: logo;
  width: 100%;
}

footer .list1 {
  grid-area: list1;
}
footer .list2 {
  grid-area: list2;
}
footer .list3 {
  grid-area: list3;
}

footer div img {
  filter: grayscale(100%);
  grid-area: media;
  width: 30%;
  height: auto;
  border-radius: 50%;
}
footer p {
  margin: 0;
  padding-top: 1%;
  grid-area: copyright;
}
