body {
  margin: 0;
  background-color: #eee;
}

nav {
display: grid;
grid-template-rows: 40px;
grid-template-columns: 50% 16.66% 16.66% 16.66%;
background-color: black;
color: white;
}

nav div {
  text-align: center;
  display: flex;
}
nav div a {
  text-decoration: none;
}

nav div img {
  height: 40px;
  width: 30px;
}
