body {
  margin: 0;
  background-color: #eee;
}

nav {
display: grid;
grid-template-rows: 40px;
grid-template-columns: 25% 25% 25% 25%;
grid-template-areas: ". . pic .";
background-color: black;
color: white;
}

nav div {
  padding-top: 3.5%;
}
nav div:nth-child(1) {
  grid-area: pic;
}

nav img {
  height: 25px;
  width: auto;
}
